@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

/* G E N E R A L */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #252525;
    position: relative;
    height: 100%;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
    overflow: visible !important;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #fff;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
}

input {
    display: block;
    width: 100%;
    height: 58px;
    background-color: #e4e4e4;
    border-radius: 5px;
    box-shadow: inset 0 2px 0 rgba(26, 29, 33, 0.3);
    color: #252525;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    padding: 0 8px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0 0 0 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}


/*ol {
	list-style: none;
	counter-reset: myCounter;
}
ol li {
	color: #252525;
	position: relative;
	font-size: 20px;
	font-weight: 400;
	line-height: 29px;
	padding-left: 16px;
	letter-spacing: 0.01em;
	margin-bottom: 22px;
	text-align: left;
}
ol li:before {
	content: "";
	display: block;
	counter-increment: myCounter;
	content:counter(myCounter);
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	width: 15px;
	height: 15px;
	background: #ee1d23;
	position: absolute;
	top: -2px;
  left: -29px;
	border-radius: 50%;
	z-index: -1;
}*/

.title {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.desc {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    position: relative;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#hamburger-icon {
    position: relative;
    display: none;
    width: 18px;
    height: 14px;
}

#hamburger-icon .line {
    position: absolute;
    left: 0;
    display: block;
    background: #f57f17;
    width: 18px;
    height: 2px;
    border-radius: 4px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.line.line-1 {
    top: 0;
}

.line.line-2 {
    top: 50%;
}

.line.line-3 {
    top: 100%;
}

#hamburger-icon.active .line-1 {
    transform: translateY(7px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    -moz-transform: translateY(7px) translateX(0) rotate(45deg);
    -ms-transform: translateY(7px) translateX(0) rotate(45deg);
    -o-transform: translateY(7px) translateX(0) rotate(45deg);
}

#hamburger-icon.active .line-2 {
    opacity: 0;
}

#hamburger-icon.active .line-3 {
    transform: translateY(-7px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -o-transform: translateY(-7px) translateX(0) rotate(-45deg);
}


/*
    B U T T O N S
*/

.btn {}

.btn:hover {}


/* I E   S T Y L E S */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {}


/* M O B I L E  */

@import "base/media";